#  Assignment 1
## Sandeep Pal
## Student ID: 202091837
## Date: 19-1-2023

### Import Pandas and loading Starwars CSV data into dataframe. Note: CSV file is in the same path as the ipynb file.

In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('starwars.csv',na_filter=False)

### View the dataframe for reference

In [3]:
df

,id,seen_any_films,fan,seen_episode1,seen_episode2,seen_episode3,seen_episode4,seen_episode5,seen_episode6,rank_episode1,...,view_yoda,who_shot_first,familiar_with_expanded_universe,fan_expanded_universe,fan_star_trek,gender,age,household_income,education,location
0,3.292880e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,N/A,High school degree,South Atlantic
1,3.292880e+09,No,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3.292765e+09,Yes,No,Yes,Yes,Yes,No,No,No,1,...,Unfamiliar (N/A),I don't understand this question,No,N/A,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3.292763e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Very favorably,I don't understand this question,No,N/A,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3.292731e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,3.288389e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,...,Very favorably,Han,No,N/A,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1182,3.288379e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4,...,Very favorably,I don't understand this question,No,N/A,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1183,3.288375e+09,No,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1184,3.288373e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4,...,Very favorably,Han,No,N/A,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1185,3.288373e+09,Yes,No,Yes,Yes,No,No,Yes,Yes,6,...,Very unfavorably,I don't understand this question,No,N/A,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific

### Q1) The below code determines the number of unique values for the age
Step 1: nunique() gives the number of unique values present in column age

In [4]:
df['age'].nunique()

5

### Q2) The below code lists the unique responses for the question, "Who shot first?"
Step 1: unique() gives the list of unique values present in column who_shot_first

In [5]:
df['who_shot_first'].unique()

array(["I don't understand this question", 'N/A', 'Greedo', 'Han'],
      dtype=object)

### Q3) The below code determines the number of entries in the data set that view Darth Vader as "Very favorably" or "Somewhat favorably"
 Step 1: Here 's' contains the dataframe rows with the details that views darth vader as very favourably or somewhat favourable. \
 Step 2: Can be solved using s['view_darth_vader'].count() which gives the count of the s dataframe which answers the question or using len(s['view_darth_vader'].index). \
 Reference: https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe

In [6]:
s=df[(df['view_darth_vader'].str.contains('Very favorably') | df['view_darth_vader'].str.contains('Somewhat favorably'))]
#s['view_darth_vader'].count()
len(s['view_darth_vader'].index)

481

### Q4) The below code determines the total number of people that have seen all 6 Star Wars films
 Step 1: Here 's' contains the dataframe rows with the details of people who have seen all the 6 star wars films "seen_episode1...seen_episode6". \
 Step 2: s['view_darth_vader'].count() gives the count of the s dataframe which answers the question or using len(s['id'].index) . \
 Reference: https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe

In [7]:
s=df[(df['seen_episode1'].str.contains('Yes') & df['seen_episode2'].str.contains('Yes')  & df['seen_episode3'].str.contains('Yes')  & df['seen_episode4'].str.contains('Yes')  & df['seen_episode5'].str.contains('Yes')  & df['seen_episode6'].str.contains('Yes'))]
#s['id'].count()
len(s['id'].index)

471

### Q5) The below code computes the % of males and females who are fans of Star wars. 
Will divide the problem into series of steps: \
 Step 1: Below code snippet gives the count of Males who are fan of star wars it comes to 303.

In [8]:
#len(df[(df.gender == 'Male' & df.fan == 'Yes')])

len(df[(df['gender'].str.contains('Male')) & (df['fan'].str.contains('Yes'))])

303

 Step 2: Total number of male people present in the survey can be seen through the below snippet which is 497.

In [9]:
#len(df)
#len(df.index)
len(df[(df['gender'].str.contains('Male'))])

497

 Step 3: Total number of female people present in the survey can be seen through the below snippet which is 549.

In [10]:
len(df[(df['gender'].str.contains('Female'))])

549

Step 4: Calculate the male fan ratio which is the Step1 / Step2 i.e count of star war Male fans/total number of male people. \
Step 5: Calculate the male % which is male fan ratio * 100

In [11]:
#males_ratio=len(df[df.gender == 'Male'])/len(df.index)
#males_ratio
males_ratio=len(df[(df['gender'].str.contains('Male')) & (df['fan'].str.contains('Yes'))])/len(df[(df['gender'].str.contains('Male'))])
males_percent=males_ratio*100
males_percent

60.96579476861167

Step 5: Calculate the female fan ratio which is count of star war Female fans/total number of female people. \
Step 6: Calculate the female % which is female fan ratio * 100

In [12]:
#females_ratio=len(df[df.gender == 'Female'])/len(df.index)
#females_ratio
females_ratio=len(df[(df['gender'].str.contains('Female')) & (df['fan'].str.contains('Yes'))])/len(df[(df['gender'].str.contains('Female'))])
females_percent=females_ratio*100
females_percent

43.35154826958106

### Q6) Followed the respective format.